<article class="wrapper wrapper-feitjes" data-receiver="4">
    <h2>Feitjes over mij</h2>

    <table class="table-secondary table-feitjes">

        <tbody>

            {% comment %} Per feitje wordt een rij ingeladen {% endcomment %}
            {% for feitje in custom.feitjes_over_mij %}
            <tr>
                <td>{{ feitje.label }}</td>
                <td {% if feitje.label == "Favoriete kleur" %}style="background-color: {{ feitje.waarde }}; color: #fff"{% endif %}>{{ feitje.waarde }}</td>
            </tr>
            {% endfor %}

            <tr class="row-songs">
                <td class="vat">{{ custom.liedjes[0].label }}</td>
                <td>
                    {% comment %} Per liedje wordt er een playknop en tekst aangemaakt {% endcomment %}
                    {% for liedje in custom.liedjes[0].waarde %}
                    <div class="song">
                        <button id="button-{{ liedje.id }}" class="button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                            <path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80L0 432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"/>
                        </svg>
                        </button>
                        {{ liedje.key }}. {{ liedje.titel }} - {{ liedje.artiest }}
                    </div>
                    {% endfor %}
                </td>
            </tr>
        </tbody>

    </table>

</article>