{% render 'partials/head.liquid' %}
<main>
      <div class="grid-giver">
        <div class="grid-receiver">
          <div class="content-wrapper">
            <aside>
              <figure class="img-container">
                <div class="img-wrapper">
                  <img src="{{person.avatar}}" alt="Avatar van Dylan van Nierop" title="Avatar Dylan">
                </div>
                <figcaption>
                  <h1>{{ person.name }}</h1>
                  <p>{{ person.bio }}</p>
                  <p>Houd van {{ custom.favo_broodbeleg }}</p>
                </figcaption>
              </figure>
              
              <nav>
                <ul>
                  <li class="nav-item active" data-giver="1">
                    <button>
                      Werkervaring
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M176 56l0 40 160 0 0-40c0-4.4-3.6-8-8-8L184 48c-4.4 0-8 3.6-8 8zM128 96l0-40c0-30.9 25.1-56 56-56L328 0c30.9 0 56 25.1 56 56l0 40 0 32 0 352-256 0 0-352 0-32zM64 96l32 0 0 384-32 0c-35.3 0-64-28.7-64-64L0 160c0-35.3 28.7-64 64-64zM448 480l-32 0 0-384 32 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64z"/>
                      </svg>
                    </button>
                  </li>
                  <li class="nav-item" data-giver="2">
                    <button>
                      Opleidingen
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                        <path d="M320 32c-8.1 0-16.1 1.4-23.7 4.1L15.8 137.4C6.3 140.9 0 149.9 0 160s6.3 19.1 15.8 22.6l57.9 20.9C57.3 229.3 48 259.8 48 291.9l0 28.1c0 28.4-10.8 57.7-22.3 80.8c-6.5 13-13.9 25.8-22.5 37.6C0 442.7-.9 448.3 .9 453.4s6 8.9 11.2 10.2l64 16c4.2 1.1 8.7 .3 12.4-2s6.3-6.1 7.1-10.4c8.6-42.8 4.3-81.2-2.1-108.7C90.3 344.3 86 329.8 80 316.5l0-24.6c0-30.2 10.2-58.7 27.9-81.5c12.9-15.5 29.6-28 49.2-35.7l157-61.7c8.2-3.2 17.5 .8 20.7 9s-.8 17.5-9 20.7l-157 61.7c-12.4 4.9-23.3 12.4-32.2 21.6l159.6 57.6c7.6 2.7 15.6 4.1 23.7 4.1s16.1-1.4 23.7-4.1L624.2 182.6c9.5-3.4 15.8-12.5 15.8-22.6s-6.3-19.1-15.8-22.6L343.7 36.1C336.1 33.4 328.1 32 320 32zM128 408c0 35.3 86 72 192 72s192-36.7 192-72L496.7 262.6 354.5 314c-11.1 4-22.8 6-34.5 6s-23.5-2-34.5-6L143.3 262.6 128 408z"/>
                      </svg>
                    </button>
                  </li>
                  <li class="nav-item" data-giver="3">
                    <button>
                      Hobby's
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                        <path d="M192 64C86 64 0 150 0 256S86 448 192 448l256 0c106 0 192-86 192-192s-86-192-192-192L192 64zM496 168a40 40 0 1 1 0 80 40 40 0 1 1 0-80zM392 304a40 40 0 1 1 80 0 40 40 0 1 1 -80 0zM168 200c0-13.3 10.7-24 24-24s24 10.7 24 24l0 32 32 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-32 0 0 32c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-32-32 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l32 0 0-32z"/>
                      </svg>
                    </button>
                  </li>
                  <li class="nav-item" data-giver="4">
                    <button>
                      Facts
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <path d="M272 384c9.6-31.9 29.5-59.1 49.2-86.2c0 0 0 0 0 0c5.2-7.1 10.4-14.2 15.4-21.4c19.8-28.5 31.4-63 31.4-100.3C368 78.8 289.2 0 192 0S16 78.8 16 176c0 37.3 11.6 71.9 31.4 100.3c5 7.2 10.2 14.3 15.4 21.4c0 0 0 0 0 0c19.8 27.1 39.7 54.4 49.2 86.2l160 0zM192 512c44.2 0 80-35.8 80-80l0-16-160 0 0 16c0 44.2 35.8 80 80 80zM112 176c0 8.8-7.2 16-16 16s-16-7.2-16-16c0-61.9 50.1-112 112-112c8.8 0 16 7.2 16 16s-7.2 16-16 16c-44.2 0-80 35.8-80 80z"/>
                      </svg>
                    </button>
                  </li>
                </ul>
              </nav>
            </aside>
            <div class="content-dynamic-container">
              <div class="wrapper-container">
                <article class="wrapper" data-receiver="1">
                  <h2>Mijn werkervaring</h2>
                  <p>Hieronder een overzicht van mijn werkervaring</p>
                  <table class="table-primary">
                    <thead>
                      <tr>
                        <th>Periode</th>
                        <th>Werkervaring</th>
                      </tr>
                    </thead>
                    <tbody>

                    {% for werkervaring in custom.werkervaringen %}
                      {% if werkervaring.functie %}
                        <tr>
                          {% if werkervaring.periode %}
                            <td>{{ werkervaring.periode }}</td>
                          {% else %}
                            <td>Onbekende periode</td>
                          {% endif  %}
                          
                          <td>{{ werkervaring.functie }} bij 
                            {% if werkervaring.link %}
                              <a class="link-werkervaring" target="_blank" href="{{ werkervaring.link }}">
                            {% endif %}
                            {{ werkervaring.bedrijf }}
                            {% if werkervaring.link %}
                              </a>
                            {% endif %}                          
                          </td>
                        </tr>
                      {% endif  %}
                    {% endfor %}
                    </tbody>
                  </table>
                </article>
                <article class="wrapper" data-receiver="2">
                  <h2>Mijn opleidingen</h2>
                  <p>Hieronder een overzicht van mijn opleidingen</p>
                  <table class="table-primary">
                    <thead>
                      <tr>
                        <th>Periode</th>
                        <th>Studie</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for opleiding in custom.opleidingen %}
                        {% if opleiding.omschrijving %}
                          <tr>
                            {% if opleiding.periode %}
                              <td>{{ opleiding.periode }}</td>
                            {% else %}
                              <td>Onbekende periode</td>
                            {% endif  %}

                            <td>{{ opleiding.omschrijving }}</td>
                          </tr>
                        {% endif  %}
                      {% endfor %}
                    </tbody>
                  </table>
                </article>
                <article class="wrapper active" data-receiver="3">
                  <h2>Mijn Hobby's</h2>
                  {% for hobby in custom["hobby's"] %}
                    {% if hobby.content %}
                      <section class="one-hobby">
                        {% if hobby.titel %}
                          <h3>{{hobby.titel}}</h3>
                        {% endif %}
                        {{hobby.content}}
                        {% if hobby.afbeelding %}
                          <figure>
                            <img src="{{hobby.afbeelding[0]['src']}}" alt="{{hobby.afbeelding[0].afbeelding_alt}}" title="{{hobby.afbeelding[0].afbeelding_titel}}">
                            <figcaption>{{hobby.afbeelding[0].caption}}</figcaption>
                          </figure>
                        {% endif %}
                      </section>
                    {% endif  %}
                  {% endfor %}
                </article>
                <article class="wrapper" data-receiver="4">
                  <h2>Feitjes over mij</h2>
                  <table class="facts-tbl">
                    <tbody>
                      {% for feitje in custom.feitjes_over_mij %}
                        <tr>
                          <td>{{ feitje.label }}</td>
                          <td {% if feitje.label == "Favoriete kleur" %}style="background-color: {{ feitje.waarde }}"{% endif %}>{{ feitje.waarde }}</td>
                        </tr>
                      {% endfor %}
                      <tr class="row-songs">
                        <td class="vat">{{ custom.liedjes[0].label }}</td>
                        <td>
                          {% for liedje in custom.liedjes[0].waarde %}
                            <div class="song">
                              <button id="button-{{ liedje.id }}" class="button">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                  <path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80L0 432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"/>
                                </svg>
                              </button>
                              {{ liedje.key }}. {{ liedje.titel }} - {{ liedje.artiest }}
                            </div>
                          {% endfor %}
                      </td>
                      </tr>
                    </tbody>
                  </table>
                </article>
              </div>
            </div>
          </div>

          <aside id="sidebar">
            <div class="wrapper">
              <div class="svg-container">
                <svg class="closed" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                <svg class="opened hidden" viewBox="0 0 512 512"><path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"/></svg>
              </div>
              <div class="contentbar">
                <div class="contentbar-inner">
                  <div class="icon-container linkedin">
                    <a target="_blank" href="https://www.linkedin.com/in/dylan-van-nierop-50458a1b8/">
                      <svg class="icon icon-linkedin" width="20" viewBox="0 0 20 20">
                        <path d="M19.169 11.781c0-1.817-0.431-3.156-1.294-4.019-0.42-0.424-0.922-0.757-1.476-0.979s-1.147-0.329-1.743-0.314c-0.842-0.062-1.678 0.175-2.363 0.669-0.452 0.36-0.851 0.781-1.188 1.25v0.050c-0.003-0.008-0.005-0.016-0.005-0.025s0.002-0.017 0.005-0.025v-1.638h-3.925c0 0.269 0 1.031 0 2.306s0 2.606 0 4.019c0 1.412 0 3.244 0 5.5h3.925v-6.606c-0.009-0.173-0.009-0.346 0-0.519 0.009-0.152 0.040-0.301 0.094-0.444 0.16-0.375 0.404-0.709 0.713-0.975 0.36-0.315 0.828-0.481 1.306-0.463 0.299-0.026 0.601 0.029 0.871 0.16s0.501 0.333 0.666 0.583c0.332 0.59 0.492 1.261 0.462 1.938v6.306h3.925l0.025-6.775zM1.069 18.556v-11.806h3.931v11.806h-3.931zM4.644 1.625c0.393 0.384 0.618 0.907 0.625 1.456 0.001 0.272-0.054 0.541-0.161 0.79s-0.265 0.474-0.464 0.66c-0.215 0.21-0.47 0.374-0.751 0.482s-0.58 0.156-0.881 0.143c-0.291 0.010-0.582-0.040-0.853-0.148s-0.517-0.27-0.722-0.477c-0.19-0.19-0.34-0.417-0.44-0.666s-0.151-0.516-0.147-0.784c-0.002-0.273 0.052-0.543 0.16-0.794s0.266-0.476 0.465-0.662c0.429-0.386 0.992-0.59 1.569-0.569 0.291-0.017 0.583 0.025 0.858 0.122s0.527 0.25 0.742 0.446z"></path>
                      </svg>
                    </a>
                  </div>
                  <div class="icon-container instagram">
                    <a target="_blank" href="https://www.instagram.com/dylannierop/">
                      <svg class="icon icon-instagram" width="20" viewBox="0 0 32 32">
                        <path d="M16 2.881c4.275 0 4.781 0.019 6.462 0.094 1.563 0.069 2.406 0.331 2.969 0.55 0.744 0.288 1.281 0.638 1.837 1.194 0.563 0.563 0.906 1.094 1.2 1.838 0.219 0.563 0.481 1.412 0.55 2.969 0.075 1.688 0.094 2.194 0.094 6.463s-0.019 4.781-0.094 6.463c-0.069 1.563-0.331 2.406-0.55 2.969-0.288 0.744-0.637 1.281-1.194 1.837-0.563 0.563-1.094 0.906-1.837 1.2-0.563 0.219-1.413 0.481-2.969 0.55-1.688 0.075-2.194 0.094-6.463 0.094s-4.781-0.019-6.463-0.094c-1.563-0.069-2.406-0.331-2.969-0.55-0.744-0.288-1.281-0.637-1.838-1.194-0.563-0.563-0.906-1.094-1.2-1.837-0.219-0.563-0.481-1.413-0.55-2.969-0.075-1.688-0.094-2.194-0.094-6.463s0.019-4.781 0.094-6.463c0.069-1.563 0.331-2.406 0.55-2.969 0.288-0.744 0.638-1.281 1.194-1.838 0.563-0.563 1.094-0.906 1.838-1.2 0.563-0.219 1.412-0.481 2.969-0.55 1.681-0.075 2.188-0.094 6.463-0.094zM16 0c-4.344 0-4.887 0.019-6.594 0.094-1.7 0.075-2.869 0.35-3.881 0.744-1.056 0.412-1.95 0.956-2.837 1.85-0.894 0.888-1.438 1.781-1.85 2.831-0.394 1.019-0.669 2.181-0.744 3.881-0.075 1.713-0.094 2.256-0.094 6.6s0.019 4.887 0.094 6.594c0.075 1.7 0.35 2.869 0.744 3.881 0.413 1.056 0.956 1.95 1.85 2.837 0.887 0.887 1.781 1.438 2.831 1.844 1.019 0.394 2.181 0.669 3.881 0.744 1.706 0.075 2.25 0.094 6.594 0.094s4.888-0.019 6.594-0.094c1.7-0.075 2.869-0.35 3.881-0.744 1.050-0.406 1.944-0.956 2.831-1.844s1.438-1.781 1.844-2.831c0.394-1.019 0.669-2.181 0.744-3.881 0.075-1.706 0.094-2.25 0.094-6.594s-0.019-4.887-0.094-6.594c-0.075-1.7-0.35-2.869-0.744-3.881-0.394-1.063-0.938-1.956-1.831-2.844-0.887-0.887-1.781-1.438-2.831-1.844-1.019-0.394-2.181-0.669-3.881-0.744-1.712-0.081-2.256-0.1-6.6-0.1v0z"></path>
                        <path d="M16 7.781c-4.537 0-8.219 3.681-8.219 8.219s3.681 8.219 8.219 8.219 8.219-3.681 8.219-8.219c0-4.537-3.681-8.219-8.219-8.219zM16 21.331c-2.944 0-5.331-2.387-5.331-5.331s2.387-5.331 5.331-5.331c2.944 0 5.331 2.387 5.331 5.331s-2.387 5.331-5.331 5.331z"></path>
                        <path d="M26.462 7.456c0 1.060-0.859 1.919-1.919 1.919s-1.919-0.859-1.919-1.919c0-1.060 0.859-1.919 1.919-1.919s1.919 0.859 1.919 1.919z"></path>
                      </svg>
                    </a>
                  </div>
                  <div class="icon-container github">
                    <a target="_blank" href="https://github.com/DivaniNL">
                      <svg class="icon icon-github" width="20" viewBox="0 0 32 32">
                        <path d="M16 0.395c-8.836 0-16 7.163-16 16 0 7.069 4.585 13.067 10.942 15.182 0.8 0.148 1.094-0.347 1.094-0.77 0-0.381-0.015-1.642-0.022-2.979-4.452 0.968-5.391-1.888-5.391-1.888-0.728-1.849-1.776-2.341-1.776-2.341-1.452-0.993 0.11-0.973 0.11-0.973 1.606 0.113 2.452 1.649 2.452 1.649 1.427 2.446 3.743 1.739 4.656 1.33 0.143-1.034 0.558-1.74 1.016-2.14-3.554-0.404-7.29-1.777-7.29-7.907 0-1.747 0.625-3.174 1.649-4.295-0.166-0.403-0.714-2.030 0.155-4.234 0 0 1.344-0.43 4.401 1.64 1.276-0.355 2.645-0.532 4.005-0.539 1.359 0.006 2.729 0.184 4.008 0.539 3.054-2.070 4.395-1.64 4.395-1.64 0.871 2.204 0.323 3.831 0.157 4.234 1.026 1.12 1.647 2.548 1.647 4.295 0 6.145-3.743 7.498-7.306 7.895 0.574 0.497 1.085 1.47 1.085 2.963 0 2.141-0.019 3.864-0.019 4.391 0 0.426 0.288 0.925 1.099 0.768 6.354-2.118 10.933-8.113 10.933-15.18 0-8.837-7.164-16-16-16z"></path>
                      </svg>
                    </a>
                  </div>
                </div>
                
              </div>
            </div>
            
          </aside>
        </div>
      </div>

     
    </main>

{% render 'partials/foot.liquid' %}
